.row h6{
  text-align: center;
  color: rgb(96, 126, 214);
}

div img{
  padding-top: 50px;
}

.row h3{
  text-align: center;
  color: rgb(96, 126, 214);
}

div .text{
  padding-top: 30px!important;
}

 h4{
  text-align: center;
  color: rgb(96, 126, 214)!important;
}
