.page{
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;

}

.container{
  background-color: rgba(45, 42, 45, 0.65);
  font-family: 'Slabo 27px', serif;

}

.row h1{
  font-family: 'Lilita One', cursive;
  text-align: center;
  color: rgb(96, 126, 214);
  margin-bottom: 60px;
}

img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

ul{

  color: #fff;
}

p{
  color: #fff;
}

.corps{
  margin-top: 30px;
}

.lunes{
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.lunes p{
  color: rgb(96, 126, 214);
}

.lune{
  font-size: 30px;
  text-align: center;
}

.img{
  margin-top: 30px;
  opacity: 0.5;
}
.img img{
  border-radius: 50px!important;
}

.img:hover{
  transition: 2s;
  opacity: 1;
}

.footer{
  text-align: center;
  font-size: 15px;
  margin-top: 50px;

}
